
{% extends 'base.html' %} {% block content %}

<h1>All Observations</h1>

<form action="{% url 'search_results' %}" method="get">
    <input name="q" type="text" placeholder="Search...">
  </form>

{% for observation in observations %}
<div class="card">
    <a href="{% url 'detail' observation.id %}">
  <div class="card-content">
    <span class="card-title">{{ observation.name }}</span>
    {% for photo in observation.photo_set.all %}
<img class="responsive-img card-panel" src="{{photo.url}}" />
{% endfor %}
  </div>
</a>
</div>
{% endfor %} {% endblock %}