
{% extends 'base.html' %} {% block content %}

<h1>{{ observation.name}} Details</h1>

<div class="row">
<div class="col s6">
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ observation.name }}</span>
    <p>Scientific Name: {{ observation.sciname }}</p>
    <p>Amount: {{ observation.amount }}</p>
    <p>Date: {{ observation.date }}</p>
    <p>Location: {{ observation.location }}</p>
    <p>Description: {{ observation.description }}</p>
    <p>Details: {{ observation.details }}</p>
  </div>
  <div class="card-action">
    <a href="{% url 'observations_update' observation.id %}">Edit</a>
    <a href="{% url 'observations_delete' observation.id %}">Delete</a>
  </div>
</div>

<div class="row">
    <div class="col s6">
      <h3>{{ observation.name }}'s Category</h3>
      {% if observation.categorys.count %} {% for category in observation.categorys.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A <span>{{ category.classification }}</span>
          </span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_category_delete' observation.id category.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>No Category :(</h5>
      {% endif %}
    </div>
    <div class="col s6">
      <h3>Available Categories</h3>
      {% if categorys.count %} {% for category in categorys.all %}
      <div class="card">
        <div class="card-content">
          <span class="card-title">
            A <span>
            {{ category.classification }}
          </span></span>
        </div>
        <div class="card-action">
          <form action="{% url 'assoc_category' observation.id category.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>{{observation.classification}} Already Has All Classifications Available</h5>
      {% endif %}
    </div>
  <script>
    var dateEl = document.getElementById("id_date");
    M.Datepicker.init(dateEl, {
      format: "yyyy-mm-dd",
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
    });
  </script>

{% endblock %}