{% extends 'base.html' %} {% block content %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>About</title>
  </head>
  <body>


    <h1>Naturalist</h1>
    <p>
      Was created as a way to keep track of natural history observations and
      give back to the scientific community
    </p>
</body>

    <div class="row">
      <div class="col s2 "><img src="https://i.imgur.com/BcelCDG.jpg" style="width:100%;height:100%;"/></div>
      <div class="col s2"><img src="https://i.imgur.com/2WTtnNE.jpg" style="width:100%;height:100%;" /></div>
      <div class="col s2"><img src="https://i.imgur.com/rRt8Fzi.jpg" style="width:100%;height:100%;"/></div>
      <div class="col s2"><img src="https://i.imgur.com/E7O1Fws.jpg" style="width:100%;height:100%;" /></div>
    <div class="col s2"><img src="https://i.imgur.com/CYrxXbC.jpg" style="width:100%;height:100%;"/></div>
</div>

    {% endblock %}

</html>
